#title {
    text-align: center;
    color: blueviolet;
    font-size: 30pt;
    font-family: "Arial Black", Gadget, sans-serif;
}

#score1,
#score2,
#timerCanvas{
    width: 200pt;
    height: 100pt;
    margin: 10px;
    border: 1px solid lightgray;
    font-size: 14pt;
    font-weight: bold;
}


#button1,
#button2,
#clearButton,
#startTimer{
    background-color: #428cf4; /* Green */
    border: none;
    color: white;
    padding: 15px 22px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    position: absolute;

}

canvas{
    background-color: deepskyblue; /* Green */
}

.canvasButton1,
.canvasButton2,
.canvasButton3{
    position:absolute;
}


.canvasButton1{
    left:50px;
}

#button1{
    right:80px;
}

.canvasButton2{
    right:50px;
}

#button2{
    right:70px;
}

.canvasButton3 {
    margin-left: 40%;
}

#startTimer{
    right:80px;
    top:159px;
}


#clearButton{
    margin-top: 20%;
    margin-left: 45%;
}





