#title {
    text-align: center;
    color: blueviolet;
    font-size: 30pt;
    font-family: "Arial Black", Gadget, sans-serif;
}

#score1 {
    width: 200pt;
    height: 100pt;
    margin: 10px;
    border: 1px solid lightgray;
    font-size: 14pt;
    font-weight: bold;
    background-color: #f44242; /* Green */

}


#button1 {
    background-color: #428cf4; /* Green */
    border: none;
    color: white;
    padding: 15px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}


#button1 {
    width: 10%;
    margin-left: 2.5%;
    margin-right: 30%;
}

