#title {
    color: blueviolet;
    font-size: 30pt;
    font-family: "Arial Black", Gadget, sans-serif;
    text-align: center;
}

#score1,
#score2,
#timerCanvas{
    height: 100pt;
    margin: 10px;
    border: 1px solid lightgray;
    font-weight: bold;
    font-size: 14pt;
}

#score1,
#score2 {
    width: 200pt;
}

#timerCanvas{
    width: 200pt;
}


#button1,
#button2,
#clearButton,
#startTimer{
    background-color: #428cf4;
    border: none;
    color: white;
    padding: 15px 22px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    width: 35%;

    display: block;
    margin-right: auto;
    margin-left: 20%;
    clear: both;
}

#clearButton{
    background-color: darkgreen;

}

canvas{
    background-color: deepskyblue;
}


.wrapper {
    display: block;
    width: 800px;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
}

.child_01 {
    display: block;
    width: 50%;
    float: left;
}

.child_02 {
    width: 50%;
    float: right;
}

.child_03 {
    display: block;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    clear: both;
}






