h1 {
    text-align: left;
    color: blueviolet;
    font-size: 30pt;
    font-family: "Arial Black", Gadget, sans-serif;
}


canvas {
    width: 200pt;
    height: 100pt;
    margin: 10px;
    border: 1px solid lightgray;
    font-size: 14pt;
    font-weight: bold;
}

.red {
    background-color: #f44242; /* Green */
}

.blue {
    background-color: #4168f4; /* Green */
}

#button1 {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#button2 {
    background-color: #428cf4; /* Green */
    border: none;
    color: white;
    padding: 15px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

